html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.container{
  width: 960px;
  margin: auto;
}
* {
  box-sizing: border-box;
}
/* Shape */
.shape-1{
  background-image: url('../assets/shape\ \(Traced\).png');
    background-position: center;
  background-repeat: no-repeat;
}
.shape-2{
  background-image: url('../assets/shape\ \(Traced\).png');
  background-repeat: no-repeat;
}
.shape-3{
  background-position: right;
  background-image: url('../assets/shape\ \(Traced\).png');
  background-repeat: no-repeat;
}

.shape{
  background-image: url('../assets/shape\ \(Traced\)1.png');
    background-position: center;
  background-repeat: no-repeat;
}